.boxborder {
    --angle: 0deg;
    /* width: 50vmin;*/
    height: 4rem; 
    border: 7px solid;
    border-radius: 10px;
    border-image: conic-gradient(from var(--angle),#1C72D9, #1CD9C3,
     #1C72D9) 1;
    text-align: center;
    padding-top: 10%;
    animation: 4s rotate linear infinite;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  