.ticker-container{
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-top: 1px solid rgb(133, 133, 133);
    padding: 10px;
    
}
.ticker{
    position: relative;
    height: 100%;
}

.icon-image{
    vertical-align: middle;
    width: 20px;
    margin-right: 6px;
    
}