.chart-div {
  position: relative;
  float: left;
  margin-left: 10%;
  margin-top: 3rem;
  padding-bottom: 2rem;
  width: 80%;
  height: 100%;
}
.recharts-wrapper {
  border-radius: 0.5rem;

  margin-bottom: 3rem;
}
.spacer {
  height: 65rem;
}
.card-div {
  padding-bottom: 3rem;
}
.opensea-link2 {
  float: left;
  margin-left: 2rem;
  background-image: url("static/images/opensea.png");
  width: 30px;
  height: 30px;
  margin-top: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.open-link-continer {
  height: 3rem;
  border-radius: 10%;
  width: 10rem;
}
.link-title {
  float: left;
}
