.footer {
  bottom: 0;
  width: 80%;
  margin-left: 20%;
  background-color: #ffffff;
}
.link {
  float: left;
  width: 100%;
}
#twitter {
  background-image: url("static/images/twitter.png");
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 40px;
  height: 40px;
}
#discord {
  background-image: url("static/images/discord.png");
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 40px;
  height: 40px;
}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
