.newsletter-wrap{
    margin-top: 15%;
    width: 60%;
    margin-left: 20%;
    
}
.title-content{
    padding-bottom: 2rem;
}
.subtitle-content{
    padding-top: 1rem;
    color: gray;
}
.newsletter-wrap #MERGE0{
    width: 80%;
    height: 30px;
}
.newsletter-wrap #mc-embedded-subscribe{
    margin-top: 10px;
    height: 36px;
    margin-left: 20px;
    width: 120px;
}