/* .purchase-wrap {
    margin-top: 8rem;
} */
.top-content {
    background-color: rgb(220, 245, 237);
    padding-top: 3rem;
    height: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.mid-content {

    height: 30rem;
background-color: rgb(141, 185, 224);
}
#prices {
    margin-top: 3rem;

}
