.table-container {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 3%;
}
.background-container {
    background-color: rgb(190, 190, 190);
}
.welcome-container {
    /* align-content: center; */
    margin-top: 2rem;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 3rem;
    /* height: 15rem;
     */
}
.MuiTableRow-root:hover{
    cursor: pointer;
}
.index-row{
    border-bottom: 10px #969696;
    text-align: center;
}
[data-colindex="0"]:hover{
    text-decoration: underline;
}


.index-content:hover{
    cursor: pointer;
}
.index-table{
    width: 85%;
    margin-left: 6%;
}
.index-quote{text-align: center;}
.welcome-content {
    border-radius: .5rem;
    background-color: white;
    text-align: center;
    float:left;
    height: 15rem;
    
    box-shadow: 2px 2px 2px 2px rgb(177, 177, 177);

}
.links{
   align-items: center;
}
.opensea-link {
    float: left;
    background-image: url('static/images/opensea.png');
    width: 30px;
    height: 30px;
    display: block;
 background-repeat: no-repeat;
 background-size: contain;
 
}
.index-div{
    width: 80%;
    margin-left: 20%;
}
.index-title{
    float: left;
    
}
.image-snippet {
    float: left;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
 
}
.title-item{
    float: right;
}
.title-box{
    align-content:right ;
    margin-top: 0px;
    margin-right: 0px;
}
.image-index {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
 
}
.links{
    width: 80px;
}
.alertBox{
    width: 100%;
    background-color: rgb(253, 206, 206);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.eth-snippet {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.graph-link {
    float: left;
    background-image: url('static/images/graph.png');
    width: 30px;
    height: 30px;
    display: block;
    
 background-repeat: no-repeat;
 background-size: contain;

}
.opensea-link:hover, .graph-link:hover {
    cursor: pointer;
}
.loading{
    margin-top: 10rem;
}
.stat-spacer{
    padding-top: .75rem;
}